.northern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EE82EE;
}

.southern {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7FFFD4;
}